/*Stili  generali della pagina*/

body{
    background-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 20px;
    font-family: Whitney, ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
}

/*nav*/

.top_nav{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    color: white;
}

.ul_top_nav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
}

.top_text{
   margin: 20px; 
}

/*header*/

header{
    background-image: url(img/jumbo.png);
    background-size: cover;
}

.container_top{
    min-height: 450px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.box{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-basis: 60%;
    max-height: 300px;
    color: white;
    text-align: center;
    flex-wrap: wrap;
}

#title{
    align-self: center;
    font-weight: 800;
    font-size: 50px;
}

#description{
margin: 30px;
font-size: 19x;
line-height: 30px;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

/*Main*/

.container_main{
    width: 70%;
    margin: auto;
    display: flex;
    min-height: 500px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.box_main{
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 600px;
    flex-wrap: wrap;
}

.box_main_gray{
    background-color: #f6f7f7;
    display: flex;
    height: 600px;
    flex-wrap: wrap;
}

.container_main_gray{
    width: 70%;
    margin: auto;
    display: flex;
    min-height: 500px;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.primary{
    height: 500px;
    flex-basis: 65%;
    background-image: url(img/item1.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.secondary{
    height: 500px;
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#title_main{
    margin-top: 30px;
    font-size: 45px;
}

#description_main{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    max-width: 929px;
}
.o2{ /*immagine centrale del main */
    background-image: url(img/item2.svg);
    flex-basis: 55%;
}

.o3{  /*immagine piu basssa del main */
    background-image: url(img/item3.svg);
}

/*container  gande verde*/

.container_bottom{
    background-color:#f6f7f7;
    display: flex;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-wrap: wrap;
}

.big_box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 70%;
    max-height: 1300px;
}

#big_image{
    width: 100%;
}

#ready{
    background-image: url(img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 30px;
}

/*footer*/

footer{
    background-color: #23262b;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
}

/*elementi del top footer*/

.top_footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10px;
    border-bottom: solid white 1px;
}

.collegamenti{ 
    width: calc(100% / 6 * 2);
    min-height: 500px;
    list-style-type: none;
    color: white;
    padding-top: 45px;
}

#flag{ 
   width: 25px; 
}

.italiano{
    margin-top: 20px;
    margin-bottom: 20px;
}

.bottom_items, .italiano, .fa-brands{
    color: white;
    line-height: 30px;
}
.prodotto, .compagnia, .risorse, .norme{
    width: calc(100% / 6);
    max-height: 500px;
    list-style-type: none;
    color: #7289da;
    padding-top: 45px;
}

.collegamenti{
    color: #7289da;
}

/*bottom footer*/
.bottom_footer{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

/*bottoni tutta pagina*/

#download{
    padding: 15px;
    color: black;
    background-color: white;
    border: white 1px;
    border-radius: 50px;
    font-weight: bold;
}

#openit{
    padding: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    border: black 1px;
    font-weight: bold;
}
.login{
    padding: 10px;
    color: black;
    background-color: white;
    border-radius: 50px;
    border: 1px white;
    font-weight: bold;
}

.signin{
    padding: 15px;
    color: rgb(255, 255, 255);
    background-color: #8fa0e1;
    border: 1px #8fa0e1 ;
    border-radius: 50px;
    font-weight: bold;
}

