/*Stili  generali della pagina*/

body{
    background-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 20px;
    font-family: Whitney, ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
}

/*nav*/

.top_nav{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    color: white;
}

.ul_top_nav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
}

.top_text{
    margin: 20px; 
}

/*header*/

header{
    background-image: url(img/jumbo.png);
    background-size: cover;
}

.container_top{
    min-height: 450px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.box{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-basis: 60%;
    max-height: 300px;
    color: white;
}

#title{
    align-self: center;
    font-weight: 800;
    font-size: 50px;
}

#description{
padding: 30px 200px 20px 200px;
font-size: 19px;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 50px;

}

/*Main*/

.container_main{
    width: 80%;
    margin: auto;
    display: flex;
    min-height: 500px;
    align-items: flex-start;
}

.box_main{
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 600px;
}

.box_main_gray{
    background-color: rgb(204, 204, 204);
    display: flex;
    height: 600px;
}

.container_main_gray{
    width: 80%;
    margin: auto;
    display: flex;
    min-height: 500px;
    flex-direction: row-reverse;
    align-items: center;
    
}

.primary{
    height: 500px;
    flex-basis: 65%;
    /*DEBUG*/
    background-image: url(img/item1.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.secondary{
    height: 500px;
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
}

#title_main{
    margin-top: 30px;
    font-size: 45px;
}

#description_main{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
.o2{
    background-image: url(img/item2.svg);
    flex-basis: 55%;
}

.o3{
    background-image: url(img/item3.svg);
}

/*container  gande verde*/

.container_bottom{
    background-color:rgb(204, 204, 204);
    display: flex;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.big_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 1200px;
}

#big_image{
    width: 100%;
    height: 80%;
}

#ready{
    background-image: url(img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 30px;
}

/*footer*/

footer{
    background-color: rgb(37, 37, 37);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
}

.top_footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10px;
    border-bottom: solid white 1px;
}

.collegamenti{
    width: calc(100% / 6 * 2);
    min-height: 500px;
    list-style-type: none;
    /*DEBUG*/
    background-color: salmon;
    border: 2px dashed black;
}

.prodotto, .compagnia, .risorse, .norme{
    width: calc(100% / 6);
    min-height: 500px;
    list-style-type: none;
    /*DEBUG*/
    background-color: aquamarine;
    border: 1px dashed rgb(255, 255, 255);
}

.bottom_footer{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    /*DEBUG*/
    background-color: aquamarine;
}